<div class="footer">
    <div class="f-info mt-2">
        <div class="f-info-social mt-2">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>        
        <div class="f-info-brand mt-2"> &copy; Staynest Private Limited</div>
        <div class="f-finfo-links mt-2">
            <a class="me-3" href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <p class="text-center mt-2">
            This project is created for educational purposes. As a student, I have taken inspiration from Airbnb to develop my own version.
        </p>
    </div>
</div>
